*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Raleway', sans-serif;
  }

.logo{
  color: grey;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;

}

.nav-links{
  display: flex;
  background-color: red;
  justify-content: space-around;
  width: 30%;

}
.navlinks li{
  list-style: none;
}
.navlinks a{
  color: grey;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;

}
